body
{
    margin: 0;
    padding: 0;
    background: rgb(2,21,78);
background: linear-gradient(90deg, rgba(2,21,78,1) 25%, rgba(6,127,245,1) 50%, rgba(2,21,78,1) 76%);
    font-family: 'Arial';
}
.cadastro{
        overflow: hidden;
        margin-top: 100px;
        margin-left: 400px;
        margin-right: 400px;
        border-radius: 50px;
        background-color: #1a39b6;
        padding: 20px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #ffffff;
}

.cadastro h2{
    align-items: center;
    text-align: center;
}

.cadastro #botoes{
    align-items: center;
    text-align: center;
}
.label{
    color: #ffffff;
}