body {
    background: rgb(36, 41, 83);
    background: linear-gradient(90deg, rgba(36, 41, 83, 1) 0%, rgba(33, 33, 193, 1) 50%, rgba(36, 41, 83, 1) 100%);
}

.nav {
    display: flex;
    justify-content: space-around;
    background: rgb(37, 37, 106);
    background: linear-gradient(90deg, rgba(37, 37, 106, 1) 0%, rgba(37, 37, 106, 1) 50%, rgba(37, 37, 106, 1) 100%);
    height: 50px;
    width: 100%;
    padding: 10px;
    border-bottom-style: solid;
    border-top-style: solid;
}

.nav img {
    height: 30px;
}

.textonav {
    color: white;
    font-weight: bold;
}

h1 {
    color: white;
    text-align: center;
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 400px;
}

.carousel {
    display: flex;
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

.imagem1 {
    width: 100%;
    height: 80vh;
}

.imagem2 {
    width: 100%;
    height: 80vh;
}

.imagem3 {
    width: 100%;
    height: 80vh;
}

.imagem4 {
    width: 100%;
    height: 80vh;
}

.card {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.row {
    margin-left: 10px;
}

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footerTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.botao {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
}

.textologin {
    color: black;
    font-weight: bold;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.needs-validation1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 2%;
}

.needs-validation1 h1{
    margin: 2%;
}

.needs-validation2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 2%;
}

.needs-validation2 h1{
    margin: 2%;
}

